<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>xxx</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入css文件  start-->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.css" rel="stylesheet">
    <!-- 引入css文件  end-->
    <style>
        .echartclass {
            width: 100%;
            margin-top: 10px;
        }

        body {
            background-repeat: no-repeat;
            margin: 0 auto;
        }
    </style>
    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var host = 'http://127.0.0.1:5000'
        //var host = 'http://47.92.138.195:5000'

        function asyncExportExcel(burl) {
            var url = host + "/template/export?"+burl;
            var xhr = null;
            try {
                xhr = new XMLHttpRequest()
            } catch (e) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP")
            }
            $("#downloadTip").html("文件下载中...");
            xhr.open('get', url, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.responseType = "blob"; // 返回类型blob
            // 定义请求完成的处理函数，请求前也可以增加加载框/禁用下载按钮逻辑
            xhr.onload = function () {
                // 请求完成
                if (this.status === 200) {//返回200
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);    //转换为base64，可以直接放入a表情href
                    reader.onload = function (e) {
                        // 转换完成，创建一个a标签用于下载
                        var a = document.createElement('a');
                        a.download = '客户列表.docx';
                        a.href = e.target.result;
                        $("body").append(a); //修复firefox中无法触发click
                        a.click();
                        $(a).remove();
                        $("#downloadTip").html("下载完成！");
                    }
                }
            };
            //发送ajax请求
            xhr.send();
        }

    </script>
</head>
<body>
<div id="echarts" class="echartclass">
    <button id="button1" onclick="asyncExportExcel('type=word&ft=company&id=2')">企业xhr下载</button>
    <a href="http://47.92.138.195:5000/template/export?type=word&ft=company&id=2">阿里云-企业标签下载</a>
</div>

<div id="echarts" class="echartclass">
    <button id="button1" onclick="asyncExportExcel('type=word&ft=project&id=3')">项目xhr下载</button>
    <a href="http://47.92.138.195:5000/template/export?type=word&ft=project&id=3">阿里云-项目标签下载</a>
</div>

<div id="echarts" class="echartclass">
    <button id="button1" onclick="asyncExportExcel('type=word&ft=labor&id=3')">劳工xhr下载</button>
    <a href="http://47.92.138.195:5000/template/export?type=word&ft=labor&id=3">阿里云-劳工标签下载</a>
</div>

</body>
</html>